<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.json.model.StoreMapper">

	<!-- 차량검색 -->
	<select id="searchCar" resultType="car">
		select
		carNo, entryTime, exitTime, coupon,storeName
		from Car
		where carNo = #{carNo}
	</select>
	   
	<!-- 매장쿠폰 할인 금액 조회 -->
	<select id="getCouponAmount" resultType="int">
		select coupon_amount
		from Store 
		where store_name = #{storeName}
	</select>

   <!-- 매장 쿠폰 수량 조회 (컨트롤러 스토어페이지에서 사용) -->
    <select id="getCouponCount" resultType="int">
        select coupon_count
        from Store
        where store_name = #{storeName}
    </select>

    <!-- 쿠폰 차감 -->
    <update id="decreaseCoupon">
       update Store
        set coupon_count = coupon_count - 1
        where store_name = #{storeName}
          and coupon_count > 0
    </update>

	<!-- 차량 쿠폰 적용 -->
	<update id="applyCouponToCar">
		update Car
		set coupon = #{couponAmount},
		storeName='하이미디어'
		where carNo =#{carNo} and exitTime is null
	</update>

	
</mapper>