<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.boot.json.model.storeMapper">
 
  
  <select id="getcouponCount" resultType="int">
       select coupon_count
       from store where store_id =#{storeId}
  </select>
  
  <update id="decreaseCoupon">
       update store 
       set coupon_Count = coupon_Count -1
       where store_id =#{storeId)
  </update>
  
</mapper>