<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.json.model.storeMapper">

	<!--차량검색 -->
	<select id="searchCar" resultType="map">
		select
		carNo, entryTime, exitTime, coupon,storeName
		from Car
		where carNo = #{carNo}
	</select>

	<!--잔여쿠폰 조회 -->
	<select id="getCouponCount" resultType="int">
		select coupon_Count
		from store 
		where store_id = #{storeId}
	</select>

	<!-- 매장 쿠폰 차감 -->
	<update id="updateStoreCouponDecrease">
		update Store
		set coupon_count = coupon_count - 1
		where store_id =#{storeId} and coupon_count > 0
	</update>

	<!-- 차량 쿠폰 등록 -->
	<update id="applyCouponToCar">
		update Car
		set coupon = 1
		where carNo = #{carNo} and exitTime is null
	</update>
</mapper>