<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration >

  
  	<typeAliases>
	  	
	  	<typeAlias type="com.boot.json.model.Car" alias="car"/>
	  	<typeAlias type="com.boot.json.model.Store" alias="store"/>
	  	<typeAlias type="com.boot.json.model.Admin1" alias="admin"/>
	  
  	
  	
  	</typeAliases>
  
  </configuration>