<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>관리자페이지 테스트</h1>
	<div>
	
	
	<!-- 검색 폼 영역 -->
	   <form method="post" action="carList">
	   
	      <select name="field">
	         <option value="carNo">차량번호</option>
	         <option value="entryTime">입차시간</option>
	         <option value="exitTime">출차시간</option>	      
	      </select>
	      
	      <input name="keyword">&nbsp;&nbsp;&nbsp;
	      <input type="submit" value="검색">
	   </form>
	
	</div>
</body>
</html>